html {
  font-size: 1em;
}

body {
  font-weight: 400;
  line-height: 1.45;
  color: #fff;
  background-color: #101010;
;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

h2 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
}
h3 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
h4 {
  font-size: 1.2em;
  text-transform: uppercase;
}

small, .font_small {font-size: 0.833em;}

.container img {
  max-width: 100%;
}

a.nocolor {
  color: inherit;
}
